{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page error</h1>

    <p>Le code est : {{status_code}}</p>
    <p>Le texte est : {{status_text}}</p>

    <p>
       Il y a eu une erreur, retourner à la page d'accueille <a href="{{ path('homepage') }}"></a>.
    </p>
{% endblock %}